*{
    margin: 0;
}

.body{
    font-family: 'ROBOTO', sans-serif;
    margin: 0;
}

.navbar{
    background-color: rgb(79, 78, 78);
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    background-color: rgba(10, 10, 10, 0.7);
    padding: 15px 10px;
}

.logo{
    height: 60px;
    width: 150px;
    padding: 0px 7.5px;
    padding-top: 10px;
}

.logo-container{
    margin-left: 50px;
    flex: 1;
}

.menu-container{
    flex: 6;
}

.searchbar{
    padding: 5px 20px;
    padding-right: 200px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    border: none;
    outline: none;
    margin-left: 100px;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    position:absolute;
    right: 30px;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;
    list-style: none;
}

.nav-link{
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.3s ease;
}


/*later*/

.featured-content{
    height: 50vh;
    padding: 50px;
}

.movie-logo{
         height: 100px;
         width: 300px;
}

.featured-desc{
    width: 400px;
    color: white;
    margin: 30px 0;
}

.genre{
    margin: 5px 0 ;
    color: red;
}

.gen{
    margin: 5px 0 ;
    color: yellow;
}

.fetured-button1{
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

.fetured-button2{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

.rating{
    display: flex;
    align-items: center;
}

.imdb-logo{
    height: 30px;
    width: 50px;    
}

#rate {
    color: yellow;
    
}
#year{
    color: white;
    margin-left: 30px;
    
}

/* list of movie and series */

.content-container {
    background: black;
}

.movie-list-container,
.series-list-container {
    padding: 30px 10px;
}
  

.movie-list-wrapper, 
.series-list-wrapper{
    position: relative;
    overflow: hidden;
}

.container.active {
    background-color: white;
}
  
.movie-list, 
.series-list{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    margin: 0px 40px;
}
  
.movie-list-item,
.series-list-item {
    margin-right: 30px;
    margin-top: 60px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.movie-list-item:hover .movie-list-item-img, 
.series-list-item:hover .series-list-item-img{
    transform: scale(1.1);
    opacity: 0.5;
}
  
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button, 

.series-list-item:hover .series-list-item-title,
.series-list-item:hover .series-list-item-desc,
.series-list-item:hover .series-list-item-button{
    opacity: 1;
}
  
.movie-list-item-img,
.series-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
  
.movie-list-item-title,
.series-list-item-title {
    
    padding: 0 0px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
  
.movie-list-item-desc, 
.series-list-item-desc{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    margin-top: 10%;
    top: 30%;
    left: 10px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
  
.movie-list-item-button, 
.series-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 15px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
  
  
.movie-list-title.active, 
.series-list-title.active {
    color: black;
}
  
.navbar-container.active {
    background-color: white;
  
    color: black;
}
  
.sidebar.active{
      background-color: white;
}
  
.left-menu-icon.active{
      color: black;
}
  
.toggle.active{
      background-color: black;
}
  
.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

/* Footer Section */

footer{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(4, 4, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h3{
    color: rgb(231, 255, 227);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

footer p{
    color: rgb(231, 255, 227);
    font-size: 13.5px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-bottom: 18px;
}

footer h6{
    color: rgb(206, 179, 97);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}

/* Footer Socials */

.socials{
    display: flex;
    flex-direction: row;
}

.socials a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(203, 139, 0);
    border-radius: 30px;
    margin: 10px 10px;
    color: white;
    font-size: 20px;
}

.socials a:hover{
    transform: scale(1.1);
    background-color: rgb(120, 92, 0);
    border: 2px solid rgb(238, 255, 0);
    cursor: pointer;
    transition: .5s;
}